@import "./variable";

.title {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 600;
  // color: $primary;
  font-family: $font-family;
}

.myIcon {
  margin: 10px 12px;

  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 6px;
  background: $icon-background;
  box-shadow: $shadow-1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  &:hover {
    box-shadow: none;
    background: $primary;
    transform: translateY(-10px);
  }
  svg {
    font-size: 22px;
  }
}

.subtitle {
  text-transform: uppercase;
  color: $secondary;
}
