$primary: #ff014f;
$secondary: #c4cfde;

$background: #212428;
// $card-background: #1f2125;
$card-background: linear-gradient(to right bottom, #212428, #16181c);
$icon-background: linear-gradient(145deg, #1e2024, #23272b);
$card-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

$font-family: "Montserrat", sans-serif;
